include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11

	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin category-item(i, t)
	.col-6.col-md-4.col-lg-3
		+b.category-item(href='#')
			+e.img-wrap
				+pic(`${i}`, '', 0)
			+e.caption
				+e.title!= t
				+e.amount.text-secondary 198 товаров

mixin card-item(bg, t, q)
	.col-6.col-lg-3
		+b.card-item.bg-wrap(href='#')
			+pic(`catalog-${bg}.png`,"bg",0).picture-bg
			+e.caption
				+e.title!= t
				+e.quantity!= q
				+e.btn-wrap
					+e.btn.btn-js Подробнее

mixin card-item2(bg,c,t)
	div(class=(c || "col-6 col-md-4 col-lg-3"))
		+b.card-item.bg-wrap(href='#')
			+pic(`catalog-${bg}.png`,"bg",0).picture-bg
			+e.caption
				+e.title!= (t || "Сборочный комплект двигателя 740.31 ЯЗДА Р0 (740.31-1000600-08)")
				+e.price.h5='385 000 ₽'
				+e.btn-wrap
					+e.btn.btn-js Подробнее

mixin agreement
	+b.agreement
		+in-c()(checked)
			+e.SPAN.text.form-check-label Я&nbsp;согласен на&nbsp;обработку моих персональных данных в&nbsp;соответствии с&nbsp;#[a(href='#') Условиями]


mixin tel-n-social(l, t)
	+b.tel-n-social
		if l
			a.strong(href=`${l}`)!= t
		+b.soc
			+item-sos().--telegram
				img(src="img/svg/telegtam.svg" alt="")
			+item-sos().--viber
				img(src="img/svg/whatsapp.svg" alt="")
			+item-sos().--whatsapp
				img(src="img/svg/viber.svg" alt="")

mixin cb(type)
	+e.LABEL.label-modal
		input(type="checkbox" name="btn").btn-check.btn-check-modal&attributes(attributes)
		span.btn.btn-info.btn-info-modal.btn-sm=type

mixin CheckButtons(label)
	+e.input-wrap.form-group
		.row
			+cb('Евро-1')
			+cb('Евро-2')(checked)
			+cb('Евро-3')
			+cb('Евро-4')
			+cb('Евро-5')
			block

mixin page-head(btns,t, ...items)
	+b.page-head
		.container
			+breadcrumb('Главная', ...items)
			.row
				.col
					h1= t
				if btns
					.col-auto
						block

mixin listAside()
	.col-3
		.list-block
			.list-group
				mixin item(i, t, a, ...items)
					div.has-children(class!= ('list-group-item list-group-item-action '+ a || 'list-group-item list-group-item-action' ))
						a(href="#")
							+pic(`list-group-${i}.jpg`, '', 0)
							span!= t
						ul.sub-menu
							each item in items
								li: a(href="#")= item 
				+item(1,'Трубный прокат','active','Труба бесшовная','Труба оцинкованная','Труба ВГП','Труба профильная','Труба электросварная')
				+item(2,`Листовой прокат`, ``,'Металлочерепица','Профнастил','Лист рифленый','Лист ПВЛ','Лист холоднокатаный','Лист горячекатанный')
				+item(3,'Сортовый прокат', ``,'Катанка','Шестигранник','Полоса','Квадрат','Круг','Арматура')
				+item(4,'Фасонный прокат', ``,'Швеллер гнутый','Швеллер','Уголок','Двутавр')
				+item(5,'Цветной прокат', ``,'Латунный шестигранник','Латунная труба','Латунная проволока','Латунный лист','Латунная лента','Латунный круг','Медная лента','Медная труба','Медная проволока','Медный лист','Медный круг','Алюминиевая труба','Алюминиевая плита','Алюминиевый лист','Алюминиевый круг')
				+item(6,'Трубопроводная арматура', ``,'Балка низколегированная Б1','Сантехизделия\трубопроводная арматура')
				+item(8,'Метизная продукция', ``,'Дверная фурнитура','Монтажные детали','Анкеры','Метрический крепеж','Заклепки','Гвозди','Грузовой крепеж','Дюбели, дюбель-гвозди','Шурупы, саморезы')
				+item(8,'Строительные материалы', ``,'Изоляционные материалы','Гидроизоляция','Строительные смеси и грунты',`Строительство стен  и&nbsp;перегородок`,'ЛКМ, пены, герметики')
mixin page-body(btns,t, ...items)
	.container.container--main
		.row.row--main
			+listAside()
			.col-9.col--ph
				+page-head(btns,t, ...items)
				block

//list-group-item.list-group-item-action(href='#')

mixin page-body04(btns,t, ...items)
	+b.page-body04.section#page-body04&attributes(attributes)
		.container
			.row.row--search
				.col-xl-9.col-12.col--search
					+page-head(btns,t, ...items)
					+e.input-search
						//- +input()#search
						.page-body04__input-wrap.form-group
							input.page-body04__input.form-control(name="text" type="text" value="Труба вгп")
							button
								+icon("search-icon")
					+e.caption-search
						+e.title!=`Вы искали:&nbsp;`
							span Труба вгп
						+e.count Найдено на сайте: 
							span 14
					+e.result
						mixin str-search(t)
							+e.item(href="#")
								span!=t
								+icon('arrow')
						- for (var x = 0; x < 4; x++)
							+str-search('Труба оцинкованная')
							+str-search('Труба вгп') 
					+e.btn.btn-light.animation-rotate
						+icon('refresh')
						span Показать еще
				.col-xl-3.col-12.col--help
					+e.help
						+icon('question')
						h4 Нужна помощь?
						+e.caption-help
							.span-first Не&nbsp;можете найти необходимую информацию или&nbsp;товар?
							.span-second Вы&nbsp;всегда можете обратиться&nbsp;к нам по контактам&nbsp;указанным ниже. Мы&nbsp;будем рады помочь!
							+e.contact
								.row
									.col-lg-12.col-auto
										div.div-first
											.span-call Звонок бесплатный
											a.strong(href=`tel:+7(930)806-71-21`) +7 (930) 806-71-21
									.col-lg-12.col-auto
										div
											.span-mail По всем вопросам
											a.strong(href=`mailto:skladstali@mail.ru`) skladstali@mail.ru
						button.btn.btn-primary(type="button") Оставить заявку

mixin page-body05(btns,t, ...items)
	.container.container--main
		.row.row--main
			+listAside()
			.col-9.col--ph
				+page-head(btns,t, ...items)
					+shop-btns()
				block

mixin shop-btns()
	+b.shop-btns
		a.print-btns(href="#")
			img(src="img/svg/print.svg")
			span Распечатать
		a.pdf-btns(href="#")
			img(src="img/svg/pdf.svg")
			span Скачать PDF

mixin tr-product()
	tr.tr-product
		+e.TD.td-pic
			a(href="#")
				+pic('catalog-3.png','bg',0)
		+e.TD.td-caption
			a(href="#")
				.title Двигатель 740.11 (740.11-1000400)
			.price Цена: 540 000 ₽
		+e.TD.td-count
			.row
				+e.btn--minus(type="button")
				input(type="text" value="1")
				+e.btn--plus(type="button")
		+e.TD.td-close
			+e.div-close
				+icon('close')

mixin shop-content()
	+b.shop-content
		table
			+tr-product
			+tr-product
			+tr-product
		.final-price() Итого: 540 000 ₽

mixin shop-form(t)
	+b.shop-form
		h2 Оформление заказа
		+e.caption Заполните форму, и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей заказа.
		+form-wrap()
			.row
				.col-12.col-md-4
					+input('Ваше имя')
				.col-12.col-md-4
					+input(`Ваш телефон`, 'tel')
				.col-12.col-md-4
					+input(`Ваш e-mail`, 'email')
				.col-12
					+input(`Ваш комментарий к заказу`, 'textarea')
				.col-md-auto.col-12
					+e.btn.btn.btn-primary Оформить заказ
				.col-md.col-12
					+agreement

mixin page404(t)
	+b.page404
		.container
			+e.logo
				img(src="img/svg/logo-head.svg" alt="...")
			+pic('pic404','',0).pic404
			h1 Страница не найдена
			+e.caption Неправильно набран адрес, или такой страницы не&nbsp;существует.
			.row.row-btn
				+e.btn.btn.btn-primary(href="#") Вернуться на главную


mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Начать поиск по товарам")
			button
				+icon("search-icon")

mixin page-body06(btns,t, ...items)
	.container.container--main
		.row.row--main
			+listAside()
			.col-9.col--ph
				+page-head(btns,t, ...items)
				block

mixin sContactInfo(data)
	// start sContactInfo
	+b.sContactInfo.section#sContactInfo&attributes(attributes)
		.container
			.row
				mixin item(i, t)
					.col-6.col-xl-3
						+e.item
							+e.img-wrap
								img(src=`img/svg/contact-info-${i}.svg`, loading='lazy' alt="")
							+e.caption
								+e.title!=t
								ul
									block
								//- ul
								//- 	each item in items
								//- 		li!= item
				+item('1',`Телефоны для заказа`)
					li #[a(href='tel:+78007008572') 8 (800) 700-85-72]
					li #[a(href='tel:+79600799544') 8 (960) 079-95-44]
				+item('2',`Электронная почта`)
					li #[a(href='mailto:zapchasty-kama@yandex.ru') zapchasty-kama@yandex.ru]
				+item('3',`Адрес`)
					li г. Набережные Челны, пр&minus;т&nbsp;КАМАЗа, 22/3
				+item('4',`Режим работы`)
					li Пн-пт: с 8:00 до 17:00 мск <br> Сб: с 8:00 до 12:00 мск <br> Вс: выходной


mixin contacts-page()
	+b.contacts-page&attributes(attributes)
		.container
			+e.title Основная информация
			+sContactInfo()
			+e.appeal
				.row
					.col-auto
						+e.appeal-logo
							+icon('logo-icon')
					.col
						+e.appeal-title Наша команда готова решить любые Ваши задачи связанные с&nbsp;поставкой высококачественных запасных частей.
						+e.appeal-respect С&nbsp;уважением, команда ООО ТД&nbsp;&laquo;КамаТехЦентр&raquo;
			+e.map
				+e.map-title Расположение на карте
				script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c' type='text/javascript')
				+e.map-widget#map

			+e.requisites
				+e.requisites-head
					.title Реквизиты организации
					a.pdf-btns(href="#")
						img(src="img/svg/pdf.svg")
						span Скачать PDF
				+e.requisites-table
					table
						mixin tr-string(f,s)
							tr
								td.first!=f
								td.second!=s
						+tr-string(`Название организации`,`ООО ТД&nbsp;&laquo;КАМАТЕХЦЕНТР&raquo;`)
						+tr-string(`ОГРН`,`1171690042347`)
						+tr-string(`ИНН`,`1650348340`)
						+tr-string(`КПП`,`165001001`)
						+tr-string(`Юридический адрес`,`423809, РТ, г. Набережные&nbsp;Челны, пр-т. Мира, д.&nbsp;38, оф.&nbsp;57`)
						+tr-string(`Почтовый адрес`,`423824, г. Набережные Челны, а/я 24021`)
						+tr-string(`Расчетный счет`,`40702810629140002978`)
						+tr-string(`Корреспондентский счет`,`30101810200000000824`)
						+tr-string(`Банк`,`ФИЛИАЛ &laquo;НИЖЕГОРОДСКИЙ&raquo; АО&nbsp;&laquo;АЛЬФА-БАНК&raquo;`)
						+tr-string(`БИК`,`042202824`)
						+tr-string(`Директор`,`Широнин Иван Константинович (на&nbsp;основании устава)`)
						+tr-string(`Телефон`,`8 (800) 700-85-72`)

mixin shop-form2()
	+b.shop-form.contacts-form
		h2 Форма обратной связи
		+e.caption Если вы&nbsp;хотите обратиться с&nbsp;предложением, оставить отзыв или у&nbsp;вас есть вопросы, воспользуйтесь формой ниже:
		+form-wrap()
			.row
				.col-12.col-md-4
					+input('Ваше имя')
				.col-12.col-md-4
					+input(`Ваш телефон`, 'tel')
				.col-12.col-md-4
					+input(`Ваш e-mail`, 'email')
				.col-12
					+input(`Ваше сообщение`, 'textarea')
				.col-md-auto.col-12
					+e.btn.btn.btn-primary Отправить
				.col-md.col-12
					+agreement

mixin delivery-page()
	+b.delivery-page&attributes(attributes)
		.container
			+e.map()
				+e.IMG.map-russia.wow(src='img/svg/map-russia.svg')
				img(src='img/map-truck.png' data-wow-delay="1.5s" data-wow-duration="2s").map-truck.wow.fadeIn
				img(src='img/map-plane.png' data-wow-delay="2s" data-wow-duration="1s").map-plane.wow.fadeIn
				- for (var x=1; x<16; x++)
					+e.IMG.map-point.wow.fadeIn(src='img/svg/map-point.svg' id=`point${x}` data-wow-delay="1s" )
			+e.description
				+e.description-title Доставка
				+e.description-text Осуществляем доставку по&nbsp;всей России от&nbsp;2&nbsp;дней без предоплаты через транспортные компании:
				+e.description-list
					ul
						li Байкал Сервис
						li ПЭК
						li Деловые линии
						li GTD
						li Энергия
			+e.methods
				+e.methods-title Способы оплаты
				+e.methods-text Оплата осуществляется наличным или безналичным расчетом с&nbsp;НДС.
				a.pdf-btns(href="#")
					img(src="img/svg/pdf.svg")
					span Реквизиты организации
			+e.benefit
				.row
					.col-auto
						img(src='img/benefit-1.png')
					.col
						+e.benefit-title Каждый двигатель отправляется в&nbsp;жесткой упаковке.
						+e.benefit-text Мы&nbsp;используем обрешетку для упаковки двигателя, чтобы исключить возможность повреждения двигателя во&nbsp;время транспортировки.
			+e.calc
				+e.calc-title Рассчитать стоимость доставки
				.tabs
					.tabs__slider.tabs__slider--js.swiper-container
						.tabs__caption.swiper-wrapper
							.tabs__btn.swiper-slide
								img(src='img/calc-1.png')
							.tabs__btn.swiper-slide.active
								img(src='img/calc-2.png')
							.tabs__btn.swiper-slide
								img(src='img/calc-3.png')
							.tabs__btn.swiper-slide
								img(src='img/calc-4.png')
							.tabs__btn.swiper-slide
								img(src='img/calc-5.png')
						.tabs__content.active
							iframe(src='https://api.baikalsr.ru/widget/calculator?' width='310' height='525' scrolling='no' frameborder='0')
						.tabs__content
							iframe(src='https://api.baikalsr.ru/widget/calculator?' width='310' height='525' scrolling='no' frameborder='0')
						.tabs__content
							iframe(src='https://api.baikalsr.ru/widget/calculator?' width='310' height='525' scrolling='no' frameborder='0')
						.tabs__content
							iframe(src='https://api.baikalsr.ru/widget/calculator?' width='310' height='525' scrolling='no' frameborder='0')
						.tabs__content
							iframe(src='https://api.baikalsr.ru/widget/calculator?' width='310' height='525' scrolling='no' frameborder='0')
			+e.calc.--track
				+e.calc-title Отследить заказ по&nbsp;трек-номеру (накладной)
				.tabs
					.tabs__slider.tabs__slider--js.swiper-container
						.tabs__caption.swiper-wrapper
							.tabs__btn.swiper-slide
								img(src='img/calc-1.png')
							.tabs__btn.swiper-slide.active
								img(src='img/calc-2.png')
							.tabs__btn.swiper-slide
								img(src='img/calc-3.png')
							.tabs__btn.swiper-slide
								img(src='img/calc-4.png')
							.tabs__btn.swiper-slide
								img(src='img/calc-5.png')
						.tabs__content.active
							iframe(src='https://pecom.ru/business/developers/tracker/tracker.php' width='327px' height='184px' scrolling='no' frameborder='0' loading="lazy")
						.tabs__content
							iframe(src='https://pecom.ru/business/developers/tracker/tracker.php' width='327px' height='184px' scrolling='no' frameborder='0' loading="lazy")
						.tabs__content
							iframe(src='https://pecom.ru/business/developers/tracker/tracker.php' width='327px' height='184px' scrolling='no' frameborder='0' loading="lazy")
						.tabs__content
							iframe(src='https://pecom.ru/business/developers/tracker/tracker.php' width='327px' height='184px' scrolling='no' frameborder='0' loading="lazy")
						.tabs__content
							iframe(src='https://pecom.ru/business/developers/tracker/tracker.php' width='327px' height='184px' scrolling='no' frameborder='0' loading="lazy")

mixin priceblock(page)
	mixin tr(a)
		tr
			td
				div
					if a
						a(href="#") Трубы электросварные 16×1 х/к
					else
						| Трубы электросварные 16×1 х/к
			td 18
			td 6000
			td 27 ₽
			td
				+b.block-add 
					+e.btn(type="button")
					input(type="number" value="0")
					+e.btn--plus(type="button")
	+b.price-table
		if page
			+e.head Арматура
		table
			thead
				tr
					th Наименование
					th R1
					th Длина
					th Цена
					th Количество
			tbody
				- for (var x = 0; x < 3; x++)
					+tr()
					+tr("a")
		if page
			+e.head Швеллер
			table
				thead
					tr
						th Наименование
						th R1
						th Длина
						th Цена
						th Количество
				tbody
					- for (var x = 0; x < 3; x++)
						+tr()
						+tr("a")
		+e.footer.row
			+e.text.col-md Всего выбрано товаров: #[span 2]
			+e.btn.col-md-auto(href="#") Оставить заявку