include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="о чем страница")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		//- meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,  shrink-to-fit=no")
		meta(name="viewport" content="width=575,   maximum-scale=1 , user-scalable=0, shrink-to-fit=no")

		script.
			let viewport = document.querySelector("meta[name=viewport]");
			var is_safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
			if (is_safari) {
				//- alert(navigator.userAgent);
				function w() {
					this.outerWidth > 575 
						? viewport.content = "width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" 
						:  viewport.content = "width=575,   maximum-scale=1 , user-scalable=0, shrink-to-fit=no" 
					//- alert(this.outerWidth + ', '+  viewport.content);
				}
				 w();
				window.addEventListener('resize', () => { 
				 w();
				}, { passive: true });
			}
		link(type="image/ico", href='img/favicon.ico', rel='shortcut icon') 
		<meta name="format-detection" content="telephone=no"> 
		+allcss()
	block variables
		body.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding:not(.loaded)::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body.loaded_hiding(class= mainPage data-bg= bg  )
		.main-wrapper
			block pagecontent
				h3 content
		//- +b.modal-cookies(id="modal-cookies" class=" " )
		//- 	+e.BUTTON.is-close(type='button')
		//- 		svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' tabindex='-1')
		//- 			path(d='M20 20L4 4m16 0L4 20')
		//- 	+e.caption!=`Мы используем файлы cookie. Подробнее - в нашей <a href='#'>политике об обработке персональных данных</a>`
		//- 	+e.btn(href="#") Понятно
		+modal()
		+allcjs()
		
		